$main-bg-grad: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
$main-bg: #0f2027;
$main-text-color: #00ffcb;
$second-text-color:#6adcfe;
$custom-text-color: white;
$main-box-shadow:  #00ffcb 0px 0px 14px;
$main-icon-shadow: rgb(106,220,254) 0px 0px 12px;
$black-box-shadow: rgba(17, 36, 43, 0.35) 0px 5px 15px;
